* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  font-family: sans-serif;
  border: 4px solid black;
  width: 850px;
  margin: 50px auto;
  position: relative;

  /* GRID */
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 30px;
}

.product::before {
  content: "sale";
  text-transform: uppercase;
  background-color: red;
  color: white;
  padding: 10px 15px;
  position: absolute;
  top: -20px;
  left: -30px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 4px;
}

.product-title {
  text-align: center;
  background-color: rgb(240, 240, 240);
  text-transform: uppercase;
  padding: 10px;

  /* GRID */
  grid-column: 1 / -1;
}

.product-container {
  display: flex;
  gap: 30px;
}

.product-img {
  width: 250px;
  height: 250px;
}

.product-info {
  padding: 25px 0;
  flex: 1;
}

.info-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: larger;
  font-weight: bolder;
}

.shipping {
  text-transform: uppercase;
  color: rgb(100, 100, 100);
  font-size: 12px;
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover {
  text-decoration: none;
}

.colors {
  display: flex;
  gap: 15px;
}

.color {
  width: 20px;
  height: 20px;
}

.colors div:first-child {
  background-color: black;
}
.colors div:nth-child(2) {
  background-color: blue;
}
.colors div:nth-child(2) {
  background-color: blue;
}
.colors div:nth-child(3) {
  background-color: red;
}
.colors div:nth-child(4) {
  background-color: orange;
}
.colors div:nth-child(5) {
  background-color: green;
}
.colors div:last-child {
  background-color: brown;
}

.product-details {
  padding: 25px 0;
  flex: 1;
}

.details-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 25px;
}

.details-list li {
  margin-bottom: 10px;
}

button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;

  /* GRID */
  grid-column: 1 / -1;
}

button:hover {
  background-color: white;
  color: black;
}
